<div class="sub-banner profile-banner">
		<div class="user-profile-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="user-profile-pic">
							<img src="assets/img/user-profile.png">
						</div>
						<div class="user-name-detail">
							<h4>Kanika Sethi <span><a href="#"><img src="assets/img/edit-icon.png"></a></span></h4>
							<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>
					<div class="col-sm-4 text-center">
						<div class="profile-counter">
							<h4>Your Profile Is 54% Complete</h4>
							<p><a href="#"><img src="assets/img/account-icon.png"></a> &nbsp;&nbsp;&nbsp;<a href="#"><img src="assets/img/profile-icon.png"></a> &nbsp;&nbsp;&nbsp;
							<a href="#"><img src="assets/img/payment-icon.png"></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="browse-menu profile-banner">
			<div class="container">
				<ul>
					<li class="mega-menu"><a href="#">Latest task posted</a>
						<div class="mega-menu-list">
							<div class="container">
								<div class="row">
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>       
					<li><a href="#">Browse by due date</a></li>       
					<li><a href="#">Browse by budget</a></li>       
					<li><a href="#">Browse by man power</a></li>
					<li class="search-task"><a href="#"><i class="fa fa-search"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="browse-view">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="posted-card side-border">
						
						<div class="card-left">
							<h4>Paint My Door <span class="follow-ico"><a href="#"><img src="assets/img/follow.png"></a></span></h4>
							<p>Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit
amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor<a href="#" data-toggle="modal" data-target="#myModal6">Read More</a></p>
							<p class="poster-name">
								<span><img src="assets/img/poster.png" alt=""></span>
								<span>Kanika Sethi<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</p>
							<p class="location-date">
								<span><i class="fa fa-location-arrow"></i> Sydeny</span>
								<span><i class="fa fa-calendar"></i> Due date 14 sep 17</span>
							</p>
							<p class="status-task-my">
							<span style="color:green">Open</span>
							</p>
						</div>
						<div class="card-right">
							<p class="post-date">
								Posted on 14 sep 17
							</p>
							<p class="main-price">
								$100
							</p>
							<p class="make-offer">
								<a href="#">Awaiting Offer</a>
							</p>
							<p class="save-job">
								<i class="fa fa-plus"></i> Save Jobs
							</p>
							<p class="view-offer">
								<a href="#">View & Make Offer</a>
							</p>
						</div>
						<div class="modal post-detail-pop fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
			<div class="post-detail-left">
				<div class="detail-pic-name">
					<div class="pic-name-left">
						<img src="assets/img/poster-big.png" alt="">
					</div>
					<div class="pic-name-right">
						<h4>Mark Josh <span class="follow-ico"><a href="#"><img src="assets/img/follow.png"></a></span></h4>
						<p>Lorem ipsum dolor sit amet is the dummy lorem
Lorem ipsum dolor sit amet is the dummy</p>
						<p><a href="#"><img src="assets/img/open.png"></a> &nbsp;&nbsp;<a href="#"><img src="assets/img/assigned.png"></a> &nbsp;&nbsp;<a href="#"><img src="img/complete.png"></a></p>
					</div>
				</div>
				<div class="post-description">
					<h4>Description</h4>
					<p>
						Need a reliable Airtasker to help clean my 2 bedroom / 2 bathroom apartment.
Notes:<br/>
Wash down bathroom walls as well please.They just need a freshen up
<br/><br/>
Standard Airtasker cleaning tasks should include: <br/>
- Everywhere in the house: Wiping down furniture and visible surfaces; Mop and
   vacuum floors; Empty rubbish <br/>
- Bathrooms: Cleaning showers, bathtub and toilets; <br/>
- Kitchen: Washing dishes; <br/><br/>

I would also like the following cleaning tasks included:<br/>

- Windows (interior side) cleaned - should be about 1 hour

This task was created using a Template. You can still ask questions and make offers
as you would on a standard task.

					</p>
					<br/>
					<h4>Requirement</h4>
					<p>This task has certain requirements of the Airtasker Worker</p>
					<p>
						<img src="assets/img/map.jpg" alt="" width="100%;">
					</p>
				</div>
				<div class="offer-section">
					<h4>OFFER</h4>
					<div class="offer-card">
						<div class="offer-pic">
							<img src="assets/img/poster-big.png" alt=""> &nbsp;&nbsp;<span class="offer-link"><a href="#">Stephen O.</a>
								<div class="offer-tooltip" style="display:none">
									<h5><a href="#">Stephen O.</a></h5>
									<p>231 indrapuri indore near bhawarkua</p>
									<p class="offer-rating-star"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span></p>
									<p class="offer-completion-rate">100% completion rate</p>
									<p class="offer-request-quoate"><a href="#">Request Quote</a></p>
								</div>
							</span>
						</div>
						<div class="offer-rating">
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
						<div class="offer-complete">
							<span class="percentage">84%</span>
						</div>
						<div class="offer-post-time">
							<span>6 HOURS AGO</span>
						</div>
					</div>
					
					<div class="offer-card">
						<div class="offer-pic">
							<img src="assets/img/poster-big.png" alt=""> &nbsp;&nbsp;<a href="#">Stephen O.</a>
						</div>
						<div class="offer-rating">
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
						<div class="offer-complete">
							<span class="percentage">84%</span>
						</div>
						<div class="offer-post-time">
							<span>6 HOURS AGO</span>
						</div>
					</div>
					
					<div class="offer-card">
						<div class="offer-pic">
							<img src="assets/img/poster-big.png" alt=""> &nbsp;&nbsp;<a href="#">Stephen O.</a>
						</div>
						<div class="offer-rating">
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
						<div class="offer-complete">
							<span class="percentage">84%</span>
						</div>
						<div class="offer-post-time">
							<span>6 HOURS AGO</span>
						</div>
					</div>
					
					<div class="offer-card">
						<div class="offer-pic">
							<img src="assets/img/poster-big.png" alt=""> &nbsp;&nbsp;<a href="#">Stephen O.</a>
						</div>
						<div class="offer-rating">
							<span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
						</div>
						<div class="offer-complete">
							<span class="percentage">84%</span>
						</div>
						<div class="offer-post-time">
							<span>6 HOURS AGO</span>
						</div>
					</div>
					
				</div>
				<div class="comment-box-browse">
					<div class="comment-head">
						<div class="header-comment"><div class="line"></div><div class="title interactive">5 comments about this Task</div></div>
						<p class="comment-para">Comment below for more details and remember that for your safety, not to share personal information e.g. email and phone numbers.
						</p>	
					</div>
					<div class="commenter">
						<div class="commenter-pic">
							<a href="#"><img src="assets/img/poster-big.png" alt="yellotasker"></a>
						</div>
						<div class="commenter-text">
							<textarea value="Ask a question"></textarea>
							<p class="comment-footer">
								<span><a href="#"><i class="fa fa-cloud-upload" aria-hidden="true"></i></a></span>
								<span><a href="#">Send</a></span>							</p>
						</div>
					</div>
					<div class="commenter">
						<div class="commenter-pic">
							<a href="#"><img src="assets/img/poster-big.png" alt="yellotasker"></a>
						</div>
						<div class="commenter-text">
							<h4><a href="#">vaibhav kasar</a></h4>
							<p class="commenter-desc">I am in parramatta would there in 10 minuets 
Offer includes 15% Airtasker fees and a man with van</p>
							<p class="timing-reply"><span>1 mins ago</span> <span><a href="#"><i class="fa fa-reply"></i> Reply</a></span></p>
						</div>
					</div>
					<div class="commenter">
						<div class="commenter-pic">
							<a href="#"><img src="assets/img/poster-big.png" alt="yellotasker"></a>
						</div>
						<div class="commenter-text">
							<h4><a href="#">vaibhav kasar</a></h4>
							<p class="commenter-desc">I am in parramatta would there in 10 minuets 
Offer includes 15% Airtasker fees and a man with van</p>
							<p class="timing-reply"><span>1 mins ago</span> <span><a href="#"><i class="fa fa-reply"></i> Reply</a></span></p>
						</div>
					</div>
					<div class="commenter">
						<div class="commenter-pic">
							<a href="#"><img src="assets/img/poster-big.png" alt="yellotasker"></a>
						</div>
						<div class="commenter-text">
							<h4><a href="#">vaibhav kasar</a></h4>
							<p class="commenter-desc">I am in parramatta would there in 10 minuets 
Offer includes 15% Airtasker fees and a man with van</p>
							<p class="timing-reply"><span>1 mins ago</span> <span><a href="#"><i class="fa fa-reply"></i> Reply</a></span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="post-detail-right">
				<h4>Task Budget</h4>
				<div class="rate">
					<p class="main-price">
								$100
								<span>Approx. 4hrs</span>
					</p>
					<p class="make-offer">
								<a href="#">Awaiting Offer</a>
							</p>
				</div>
				<div class="popup-location">
					<div class="pop-location-nav">
						<i class="fa fa-location-arrow"></i>
					</div>
					<div class="pop-location-desc">
						<h5>Location</h5>
						<p>Brookvale, New South
Wales, Australia</p>
					</div>
					
				</div>
				<div class="share-container">
					<p class="share-text">SHARE</p>
					<div class="buttons-s">
						<a class="facebook-share"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a class="twitter-share"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a class="google-plus-share"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						<a class="linkedin-share"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						<a class="embed-share"><i class="fa fa-code" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="popup-location">
					<div class="pop-location-nav">
						<i class="fa fa-calendar"></i>
					</div>
					<div class="pop-location-desc">
						<h5>Posted by 20 sep</h5>
						<p>Brookvale, New South
Wales, Australia</p>
					</div>
					
				</div>
				<div class="offers-pop">
					
				</div>
			</div>
      </div>
      
    </div>
  </div>
</div>
					</div>
					
					<div class="posted-card">
						<div class="card-left">
							<h4>Paint My Door <span class="follow-ico"><a href="#"><img src="assets/img/follow.png"></a></span></h4>
							<p>Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit
amet is the dummy lorem ipsum sit amet Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor <a href="#" data-toggle="modal" data-target="#myModal6">Read More</a></p>
							<p class="poster-name">
								<span><img src="assets/img/poster.png" alt=""></span>
								<span>Kanika Sethi<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</p>
							<p class="location-date">
								<span><i class="fa fa-location-arrow"></i> Sydeny</span>
								<span><i class="fa fa-calendar"></i> Due date 14 sep 17</span>
							</p>
						</div>
						<div class="card-right">
							<p class="post-date">
								Posted on 14 sep 17
							</p>
							<p class="main-price">
								$100
							</p>
							<p class="make-offer">
								<a href="#">Awaiting Offer</a>
							</p>
							<p class="save-job">
								<i class="fa fa-plus"></i> Save Jobs
							</p>
							<p class="view-offer">
								<a href="#">View & Make Offer</a>
							</p>
						</div>
						<div class="modal post-detail-pop fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
			<div class="post-detail-left">
				<div class="detail-pic-name">
					<div class="pic-name-left">
						<img src="assets/img/poster-big.png" alt="">
					</div>
					<div class="pic-name-right">
						<h4>Mark Josh <span class="follow-ico"><a href="#"><img src="assets/img/follow.png"></a></span></h4>
						<p>Lorem ipsum dolor sit amet is the dummy lorem
Lorem ipsum dolor sit amet is the dummy</p>
						<p><a href="#"><img src="assets/img/open.png"></a> &nbsp;&nbsp;<a href="#"><img src="assets/img/assigned.png"></a> &nbsp;&nbsp;<a href="#"><img src="img/complete.png"></a></p>
					</div>
				</div>
				<div class="post-description">
					<h4>Description</h4>
					<p>
						Need a reliable Airtasker to help clean my 2 bedroom / 2 bathroom apartment.
Notes:<br/>
Wash down bathroom walls as well please.They just need a freshen up
<br/><br/>
Standard Airtasker cleaning tasks should include: <br/>
- Everywhere in the house: Wiping down furniture and visible surfaces; Mop and
   vacuum floors; Empty rubbish <br/>
- Bathrooms: Cleaning showers, bathtub and toilets; <br/>
- Kitchen: Washing dishes; <br/><br/>

I would also like the following cleaning tasks included:<br/>

- Windows (interior side) cleaned - should be about 1 hour

This task was created using a Template. You can still ask questions and make offers
as you would on a standard task.

					</p>
					<br/>
					<h4>Requirement</h4>
					<p>This task has certain requirements of the Airtasker Worker</p>
					<p>
						<img src="assets/img/map.jpg" alt="" width="100%;">
					</p>
				</div>
			</div>
			<div class="post-detail-right">
				<h4>Task Budget</h4>
				<div class="rate">
					<p class="main-price">
								$100
								<span>Approx. 4hrs</span>
					</p>
					<p class="make-offer">
								<a href="#">Awaiting Offer</a>
							</p>
				</div>
				<div class="popup-location">
					<div class="pop-location-nav">
						<i class="fa fa-location-arrow"></i>
					</div>
					<div class="pop-location-desc">
						<h5>Location</h5>
						<p>Brookvale, New South
Wales, Australia</p>
					</div>
					
				</div>
				<div class="popup-location">
					<div class="pop-location-nav">
						<i class="fa fa-calendar"></i>
					</div>
					<div class="pop-location-desc">
						<h5>Posted by 20 sep</h5>
						<p>Brookvale, New South
Wales, Australia</p>
					</div>
					
				</div>
				<div class="offers-pop">
					<div class="offer-div">
						<img src="assets/img/offer.png">
					</div>
					<div class="offer-div">
						<img src="assets/img/offer.png">
					</div>
					<div class="offer-div">
						<img src="assets/img/offer.png">
					</div>
				</div>
			</div>
      </div>
      
    </div>
  </div>
</div>
					</div>
					
					<div class="posted-card">
						<div class="card-left">
							<h4>Paint My Door <span class="follow-ico"><a href="#"><img src="assets/img/follow.png"></a></span></h4>
							<p>Lorem ipsum dolor sit amet is the dummy lorem Lorem ipsum dolor sit
amet is the dummy lorem ipsum sit amet <a href="#" data-toggle="modal" data-target="#myModal6">Read More</a></p>
							<p class="poster-name">
								<span><img src="assets/img/poster.png" alt=""></span>
								<span>Kanika Sethi<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
							</p>
							<p class="location-date">
								<span><i class="fa fa-location-arrow"></i> Sydeny</span>
								<span><i class="fa fa-calendar"></i> Due date 14 sep 17</span>
							</p>
						</div>
						<div class="card-right">
							<p class="post-date">
								Posted on 14 sep 17
							</p>
							<p class="main-price">
								$100
							</p>
							<p class="make-offer">
								<a href="#">Awaiting Offer</a>
							</p>
							<p class="save-job">
								<i class="fa fa-plus"></i> Save Jobs
							</p>
							<p class="view-offer">
								<a href="#">View & Make Offer</a>
							</p>
						</div>
						<div class="modal post-detail-pop fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
			<div class="post-detail-left">
				<div class="detail-pic-name">
					<div class="pic-name-left">
						<img src="assets/img/poster-big.png" alt="">
					</div>
					<div class="pic-name-right">
						<h4>Mark Josh <span class="follow-ico"><a href="#"><img src="assets/img/follow.png"></a></span></h4>
						<p>Lorem ipsum dolor sit amet is the dummy lorem
Lorem ipsum dolor sit amet is the dummy</p>
						<p><a href="#"><img src="assets/img/open.png"></a> &nbsp;&nbsp;<a href="#"><img src="assets/img/assigned.png"></a> &nbsp;&nbsp;<a href="#"><img src="img/complete.png"></a></p>
					</div>
				</div>
				<div class="post-description">
					<h4>Description</h4>
					<p>
						Need a reliable Airtasker to help clean my 2 bedroom / 2 bathroom apartment.
Notes:<br/>
Wash down bathroom walls as well please.They just need a freshen up
<br/><br/>
Standard Airtasker cleaning tasks should include: <br/>
- Everywhere in the house: Wiping down furniture and visible surfaces; Mop and
   vacuum floors; Empty rubbish <br/>
- Bathrooms: Cleaning showers, bathtub and toilets; <br/>
- Kitchen: Washing dishes; <br/><br/>

I would also like the following cleaning tasks included:<br/>

- Windows (interior side) cleaned - should be about 1 hour

This task was created using a Template. You can still ask questions and make offers
as you would on a standard task.

					</p>
					<br/>
					<h4>Requirement</h4>
					<p>This task has certain requirements of the Airtasker Worker</p>
					<p>
						<img src="assets/img/map.jpg" alt="" width="100%;">
					</p>
				</div>
			</div>
			<div class="post-detail-right">
				<h4>Task Budget</h4>
				<div class="rate">
					<p class="main-price">
								$100
								<span>Approx. 4hrs</span>
					</p>
					<p class="make-offer">
								<a href="#">Awaiting Offer</a>
					</p>
				</div>
				<div class="popup-location">
					<div class="pop-location-nav">
						<i class="fa fa-location-arrow"></i>
					</div>
					<div class="pop-location-desc">
						<h5>Location</h5>
						<p>Brookvale, New South
Wales, Australia</p>
					</div>
					
				</div>
				<div class="popup-location">
					<div class="pop-location-nav">
						<i class="fa fa-calendar"></i>
					</div>
					<div class="pop-location-desc">
						<h5>Posted by 20 sep</h5>
						<p>Brookvale, New South
Wales, Australia</p>
					</div>
					
				</div>
				<div class="offers-pop">
					<div class="offer-div">
						<img src="assets/img/offer.png">
					</div>
					<div class="offer-div">
						<img src="assets/img/offer.png">
					</div>
					<div class="offer-div">
						<img src="assets/img/offer.png">
					</div>
				</div>
			</div>
      </div>
      
    </div>
  </div>
</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>