<div class="sub-banner">
		<img src="assets/img/about-banner.jpg" alt="">
		<div class="banner-content-inner">
			<h1>Browse Categories</h1>
			<h3>Lets know something about us</h3>
		</div>
	</div>
	<div class="about-page text-center">
		<div class="container">
			<h2>Browse Categories</h2>
		</div>
	</div>
	<div class="cate-listing">
				<div class="container">
			<div class="row">
				<div class="col-md-6 list-category text-primary">
									<h3 class="title">
										<img src="assets/img/life.png">
									    <p>Life administration</p>
									</h3>
							 
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="truncate pull-left">Option One - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Two - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Three - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Four - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Five - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
									</div>
									
                                    <span class="list-footer">
									    <a [routerLink] ="['/category-detail']" class="btn btn-sm btn-primary">View All</a>
                                    </span>

								</div>
								<div class="col-md-6 list-category text-primary">
								
									<h3 class="title">
										<img src="assets/img/life.png">
									   <p>Home administration</p>
                                         
									</h3>
							 
									<div class="list-group">
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option One - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Two - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Three - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Four - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Five - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
									</div>
									
                                    <span class="list-footer">
									    <a [routerLink] ="['/category-detail']" class="btn btn-sm btn-primary">View All</a>
                                    </span>

								</div>
								<div class="col-md-6 list-category text-primary">
								
									<h3 class="title">
										<img src="assets/img/category22.jpg">
									   <p>Home administration</p>
                                         
									</h3>
							 
									<div class="list-group">
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option One - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Two - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Three - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Four - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Five - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
									</div>
									
                                    <span class="list-footer">
									    <a [routerLink] ="['/category-detail']" class="btn btn-sm btn-primary">View All</a>
                                    </span>

								</div>
								<div class="col-md-6 list-category text-primary">
								
									<h3 class="title">
										<img src="assets/img/category22.jpg">
									   <p>Home administration</p>
                                         
									</h3>
							 
									<div class="list-group">
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option One - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Two - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Three - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Four - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
										<a href="#" class="list-group-item"><div class="truncate pull-left">Option Five - Primary</div><span class="badge"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
									</div>
									
                                    <span class="list-footer">
									    <a [routerLink] ="['/category-detail']" class="btn btn-sm btn-primary">View All</a>
                                    </span>

								</div>
			</div>
		</div>
	</div>