<div class="sub-banner profile-banner">
		<div class="user-profile-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="user-profile-pic">
							<img src="img/user-profile.png">
						</div>
						<div class="user-name-detail">
							<h4>Kanika Sethi <span><a href="#"><img src="img/edit-icon.png"></a></span></h4>
							<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>
					<div class="col-sm-4 text-center">
						<div class="profile-counter">
							<h4>Your Profile Is 54% Complete</h4>
							<p><a href="#"><img src="img/account-icon.png"></a> &nbsp;&nbsp;&nbsp;<a href="#"><img src="img/profile-icon.png"></a> &nbsp;&nbsp;&nbsp;<a href="#"><img src="img/payment-icon.png"></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="browse-menu profile-banner">
			<div class="container">
				<ul>
					<li class="mega-menu"><a href="#">Latest task posted</a>
						<div class="mega-menu-list">
							<div class="container">
								<div class="row">
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>       
					<li><a href="#">Browse by due date</a></li>       
					<li><a href="#">Browse by budget</a></li>       
					<li><a href="#">Browse by man power</a></li>
					<li class="search-task"><a href="#"><i class="fa fa-search"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="profile-main-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 head-pro text-center">
					<h3>My Tasks Summary</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="public-profile-section">
						<form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
            <br>
          <div class='form-row'>
                <label class='control-label'>First Name</label>
                <input class='form-control' size='4' type='text'>
           </div>
            <div class='form-row'>
                  <label class='control-label'>Last name</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text'>
            </div>
             <div class='form-row'>
                  <label class='control-label'>Tagline</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text'>
            </div>
            <div class='form-row'>
                  <label class='control-label'>Location</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text'>
            </div>
			 <div class='form-row'>
                  <label class='control-label'>Email</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text'>
            </div>
			<div class='form-row'>
                  <label class='control-label'>Birthday</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text'>
            </div>
			<div class='form-row'>
                  <label class='control-label'>ABN</label>
                <input autocomplete='off' class='form-control card-number' size='20' type='text'>
            </div>
			<div class='form-row'>
                  <label class='control-label'>Description</label>
               	  <textarea></textarea>
            </div>
    		<div class='form-row'>
                  <label class='control-label'>On Yellotasker I want to</label>
               	  <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Post tasks
                    </label>
					<label>
                        <input type="checkbox" value="remember-me"> Earn money
                    </label>
                </div>
            </div>
           
		   <div class='form-row'>
		   		<a href="#" class="save-profile-btn">Save Profile</a>
		   </div>
		   
            
              </form>    
					</div>
				</div>
			</div>
		</div>

	</div>