<div class="reset-password-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Reset Your Password</h1>
					<form class="reset-form" #resetForm="ngForm" (ngSubmit)="changePassword(resetForm.value, resetForm.valid);" 
                      novalidate>
					    <label class="error-text">
                			{{errorMessage}}
                 		</label>
						<label class="error-text" *ngIf = "successIndicator" style="color:green;">
                			Password reset successfully. Please login to continue. 
                 		</label>
                         <div class="form-group">
						<label>Email <span style="color:red;">*</span></label>
						<input type="email" required tabindex="1" autofocus [(ngModel)]="user.email"
						#email ="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" email >
                            <small *ngIf = "email.touched && !email?.valid" class="pull-left">
							Please enter valid email address.
							</small>
						</div>
						<div class="form-group">
						<label>Old Password <span style="color:red;">*</span></label>
						<input type="password" required tabindex="2" [(ngModel)]="user.oldPassword"
						#oldPassword ="ngModel" name="oldPassword" >
						</div>
                        <div class="form-group">
						<label>New Password <span style="color:red;">*</span></label>
						<input type="password" required tabindex="2" [(ngModel)]="user.newPassword"
						#newPassword ="ngModel" name="newPassword">
						</div>
						<div class="form-group">
						<label>Confirm New Password <span style="color:red;">*</span></label>
						<input type="password" required tabindex="2" [(ngModel)]="user.confirmNewPassword"
						#confirmNewPassword ="ngModel" name="confirmNewPassword">
						</div>
						 <small *ngIf = "passwordIndicator" class="pull-left">
							 Password and confirm password are not same.
					     </small>
						<!--<a (click)="resetPassword()">Reset Password</a>-->
						<input id="login-button" class="reset-btn" 
                        type="submit" value="Change Password"/>
					</form>
				</div>
			</div>
		</div>
	</div>