<div id="loading">
  <img id="loading-image" src="assets/img/cate-more.png" alt="Loading..." />
</div>
<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo border-right">
						<a [routerLink] ="['/']"><img src="assets/img/logo.png" alt="yellotasker"></a>
					</div>	
				</div>
				<div class="col-sm-3">
					<ul class="top-links-left">
						<li *ngIf= "!loginIndicator"><a (click)="openLoginPopup()">Login</a></li>
						<li *ngIf= "!loginIndicator"><a (click)="openSignupPopup()">Sign up</a></li>
						<li><a [routerLink] ="['/update-password', {token: '$2y$10$Mmn7TzBmKNwMU/wC6xcU6OP5IsP5RYszntA/z/YrLjUE07/RdSdf.'
            , key : 'eyJpdiI6IkFBOXI4MGdkbExwVHppdjVJUlwvNDNnPT0iLCJ2YWx1ZSI6IjlzcTgwVlY3RWZuZ3ZaRUtjazRBd1dnZWkzOWlqaDhaV0hqanl5NkkrT289IiwibWFjIjoiN2FlODkxYzlkNmNhOTg5OWJjOGEyMWI4MzkwNjU5NGRkMTc0MjUyZWRkNmE4NDhmZWRjMDAwMjg0MWUxN2YzYSJ9'
            }]">How it works</a></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<div class="right-top-links pull-right">
						<ul>
							<li><a (click)="openPostTaskPopup()">Post a task</a></li>
							<li><a [routerLink] ="['/browse-task']">Browse tasks</a></li>
							<li class="after-login-pic" *ngIf= "loginIndicator">
                <a href="#" id="open-welcome"><img src="assets/img/task-person.png" height="39px;"> 
                    <span class="welcome-text">{{this.loginDetails.first_name }} <i class="fa fa-chevron-down"></i></span></a>
								 <div class="welcome-div" style="display:none;">
									<div class="user-name">
                    <p><a [routerLink] ="['/profile']">Public Profile</a></p>
										<p><a [routerLink] ="['/settings']">Settings</a></p>
                    <p><a [routerLink] ="['/my-task']">My Tasks</a></p>
                    <p><a [routerLink] ="['/change-password']">Change Password</a></p>
										<p><a (click)="logout()">Logout</a></p>
									</div> 
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	
   <login-popup (setUserDashboard)="setUserDashboard($event)"></login-popup>
   <signup-popup (setUserDashboard)="setUserDashboard($event)"></signup-popup>
   <posttask-popup (setUserDashboard)="setUserDashboard($event)"></posttask-popup>
   <reset-popup></reset-popup>
   <!--prompt for login/signup -->
   <div class="modal fade" id="loginPrompt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Get the most out of Yellotasker</h4>
      </div>
      <div class="modal-body">
      <div class="error-msg">
      <p class="text-center"><b>Easy one Time Sign In Process</b></p>
      <br/>
      <p class="text-center" style="float:left; width:50%; padding-right:10px;">
        <button id="login-button" class="button-cta button-lrg center full-width"
        (click)="openLoginPopup()">
          Login</button>
      </p>
    
      <p class="text-center" style="float:left; width:50%; padding-left:10px;">
         <button id="login-button" 
         class="button-cta button-lrg center full-width pop-sign"
         (click)="openSignupPopup()">Signup</button></p>
    </div>   
     </div>
    </div>
    </div>
  </div>
   <!--main content -->
   </div>
   <router-outlet></router-outlet>

  	<div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4>Discover</h4>
            <ul class="footer-link">
              <li><a href="#">Yellotasker card</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="#">Yellotasker for business</a></li>
              <li><a href="#">Earn money</a></li>
              <li><a href="#">New user FAQ</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>Company</h4>
            <ul class="footer-link">
              <li><a [routerLink] ="['/about-us']" routerLinkActive="foot-active">About us</a></li>
              <li><a [routerLink] ="['/help']" routerLinkActive="foot-active">Help</a></li>
              <li><a [routerLink] ="['/support']" routerLinkActive="foot-active">Support</a></li>
              <li><a [routerLink] ="['/terms-and-conditions']" routerLinkActive="foot-active">Terms & conditions</a></li>
              <li><a href="#">Blog</a></li>
              <li><a [routerLink] ="['/contact-us']"routerLinkActive="foot-active" >Contact us</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>Existing Members</h4>
            <ul class="footer-link">
              <li><a href="#">Post a task</a></li>
              <li><a href="#">Browse tasks</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Yellotasker</a></li>
              <li><a href="#">Support centre</a></li>
              <li><a href="#">Merchandise</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h4>Categories</h4>
            <ul class="footer-link">
              <li><a href="#">Tradesman</a></li>
              <li><a href="#">Marketing and design</a></li>
              <li><a href="#">Home and garden</a></li>
              <li><a href="#">Delivery and removals</a></li>
              <li><a href="#">Fun and quirky</a></li>
              <li><a href="#">Event and photography</a></li>
              <li><a href="#">Computer it web</a></li>
              <li><a href="#">Business and admin</a></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="footer-app">
              <img src="assets/img/google-play.png" height="35px;"> <img src="assets/img/apple-store.png" height="35px;">
            </div>
          </div>
        </div>
        
      </div>
	  </div>
	<div class="last">
		<p>yellotasker 2017, All rights reserved</p>
	</div>