<!--Report  Modal -->
<div class="modal fade" id="ReportTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
   
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Report this task</h4>
      </div>
      <div class="modal-body">
        <div class="report-popup">
        <div class="drop-down-report">
            <p>Please give us more information regarding this project</p>
            <select>
                <option *ngFor="let reason of reasonList" value= {{reason.id}}>{{reason.reasonDescription}}</option>
            </select>
        </div>
        <div class="report-area">
           <textarea name="description" placeholder=" Comment (required)" ng-reflect-name="description"></textarea>
           <a href="#" aria-controls="profile" role="tab" data-toggle="tab" id="login-button" class="button-cta button-lrg center full-width">Continue</a>
           <div class="text-center make-continue">
            <p> <a>Cancel</a></p></div>
          </div>
      </div>
      </div>
      
    </div>
  </div>
</div>