      <div class="sub-banner profile-banner">
		<div class="user-profile-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="user-profile-pic">
							<img src="assets/img/user-profile.png">
						</div>
						<div class="user-name-detail">
							<h4>Kanika Sethi <span><a href="#"><img src="assets/img/edit-icon.png"></a></span></h4>
							<p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>
					<div class="col-sm-4 text-center">
						<div class="profile-counter">
							<h4>Your Profile Is 54% Complete</h4>
							<p><a href="#"><img src="assets/img/account-icon.png"></a> &nbsp;&nbsp;&nbsp;<a href="#">
                                <img src="assets/img/profile-icon.png"></a> &nbsp;&nbsp;&nbsp;<a href="#">
                                    <img src="assets/img/payment-icon.png"></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="browse-menu profile-banner">
			<div class="container">
				<ul>
					<li class="mega-menu"><a href="#">Dashboard</a>
						<div class="mega-menu-list">
							<div class="container">
								<div class="row">
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<h4>Heading Goes Here</h4>
										<ul>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
											<li><a href="#">Sub list goes here</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>       
					<li><a href="#">Payment History</a></li>       
					<li><a href="#">Payment Methods</a></li>       
					<li><a href="#">Reviews</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Settings</a></li>
					
				</ul>
			</div>
		</div>
	</div>
	
	<div class="profile-main-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 head-pro text-center">
					<h3>My Tasks Summary</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="profile-tabs">
						 <!-- Nav tabs --><div class="card-profile">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab">As Poster</a></li>
                                        <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab">As Worker</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="as-poster-left">
                                            <div class="user-intro-pic">
                                                <img src="assets/img/user-intro-pic.png">
                                            </div>
                                            <div class="user-intro-content">
                                                <div class="intro-head">
                                                    <p>Name :</p>
                                                    <p>Character:</p>
                                                    <p>Status:</p>
                                                    <p>Level:</p>
                                                    <p class="rating"></p>
                                                </div>
                                                <div class="intro-detail">
                                                    <p>Isobel Wormald</p>
                                                    <p>Lorem ipsum</p>
                                                    <p>Lorem ipsum</p>
                                                    <p>A</p>
                                                </div>
                                            </div>
                                            
                                            <div class="performance-profile">
                                                <p><img src="assets/img/success-btn.png"> <span>80% Task Completed on time</span></p>
                                                <p><img src="assets/img/success-btn.png"> <span>50 Jobs Done</span></p>
                                                <p><img src="assets/img/success-btn.png"> <span>600 $ cash earned</span></p>
                                                
                                                <p class="badge-content text-center">
                                                    <img src="assets/img/badge.png" style="display:block; margin:-35px auto 13px auto">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                </p>
                                            </div>
											</div>
											<div class="as-poster-right">
												<div class="target-date">
													<div class="target-head">
														<p>Earning Target:</p> 
														<p>Due Date:</p> 
													</div>
													<div class="target-detail">
														<p>Lorem ipsum sit emt</p> 
														<p>25/9/2017</p> 
													</div>
													<div class="process-target">
														<img src="assets/img/process-slider.png">
													</div>
												</div>
												
												<div class="recent-profile-activity">
													<p class="text-center"><span><img src="assets/img/recent-badge.png"></span></p>
													<div class="recent-pic">
														<img src="assets/img/recent-pic.png">
													</div>
													<div class="recent-detail">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
													</div>
													<div class="recent-pic">
														<img src="assets/img/recent-pic.png">
													</div>
													<div class="recent-detail">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
													</div>
													<div class="recent-pic">
														<img src="assets/img/recent-pic.png">
													</div>
													<div class="recent-detail">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
													</div>
													<div class="recent-pic">
														<img src="assets/img/recent-pic.png">
													</div>
													<div class="recent-detail">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
													</div>
												</div>
												
											</div>
										</div>
                                        <div role="tabpanel" class="tab-pane" id="profile">
											
										</div>
                                    </div>
</div>
					</div>
				</div>
			</div>
		</div>

	</div>