	<div class="hero-section">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <img src="assets/img/banner.jpg" alt="...">
      
    </div>
    <div class="item">
      <img src="assets/img/banner.jpg" alt="...">
      
    </div>
	<div class="item">
      <img src="assets/img/banner.jpg" alt="...">
      
    </div>
   
  </div>

  <!-- Controls -->
  
</div>
		<div class="over-content">
			<div class="container">
				<div class="over-inner">
				<h1>Something Need Doing</h1>
				<p>Getting Home Services has never been easy, 
				But Yellotasker makes it easy. Book your service
				in just three easy steps.</p>
				<a href="#">Get started now</a>
				</div>
				<div class="app-icon">
				<img src="assets/img/google-play.png" height="50px;"> <img src="assets/img/apple-store.png" height="50px;">
				</div>
			</div>
			
		</div>
	</div>
	<div class="how-to-use">
		<div class="how-left">
			<h2>How it works</h2>
			<p>With Just Three Easy Steps</p>
			<ul>
				<li><img src="assets/img/step1.png">
					<span>Post a task </span>				</li>
				<li><img src="assets/img/step2.png">
					<span>Get bids</span>				</li>
					
				<li><img src="assets/img/step3.png">
					<span>Get it done</span>				</li>
			</ul>
			<a href="#" class="get-s-h">Get More Details</a>		</div>
		<div class="how-right">
			<img src="assets/img/right-how.jpg" alt="">		</div>
		<div class="play-btn">
			<img src="assets/img/play.png">		</div>
	</div>
		
	<div class="why-use">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center why-head">
					<h2>Why use Yellotasker?</h2>
					<p>Lorem ipsum dolor sit amet is the dummy text for describing<br/>
website content lorem ipsum dolor is dummy text</p>
				</div>
			</div>
			<div class="row text-center feature-part">
				<div class="col-sm-4">
					<img src="assets/img/why1.png">
					<p>Free to post</p>
					<span>Lorem ipsum dolor sit amet is<br/>
the dummy text for describing
</span>
				</div>
				<div class="col-sm-4">
					<img src="assets/img/why2.png">
					<p>Secure payments</p>
					<span>Lorem ipsum dolor sit amet is<br/>
the dummy text for describing
</span>
				</div>
				<div class="col-sm-4">
					<img src="assets/img/why3.png">
					<p>Get It More</p>
					<span>Lorem ipsum dolor sit amet is<br/>
the dummy text for describing
</span>
				</div>
			</div>
		</div>
	</div>
		<div class="recent-task">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Recently Posted Task</h2>
				</div>
			</div>
			<div class="row task-comment text-center" *ngIf="taskList">
				<div class="col-sm-3" *ngFor ="let item of taskList">
					<div class="task-box">
					<img src="assets/img/task-person.png" alt="" class="human-pic">
					<h4>{{item.title}}</h4>
					<p class="recent-task-desc-para"> {{item.description}} </p>
					<p class="location-date">
						<span><b><i class="fa fa-location-arrow"></i> {{item.locationType}}</b></span>
						<span><b><i class="fa fa-calendar"></i> Due Date </b>{{item.dueDate}}</span>
					</p>
     			 </div>
				</div>
				
				
				
			</div>
			</div>
		</div>
	<div class="services-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>What do you need done?</h2>
				</div>
			</div>
		<div  *ngFor ="let cat of categoryList">	
			<!-- <div class="row"> -->
				<div class="col-sm-3">
					<div class="service-pic">
						<a (click)="openPostTask()" >
							<img src={{cat.category_image}} alt="">
							<div class="service-over">
								<p>{{cat.category_name}}</p>
							</div>
							<div class="service-over-post">
								<a href="#">Post a Task</a>
							</div>
						</a>
					</div>
				</div>
			
			 <!-- </div> -->
			</div>
			<div class="row">
				<div class="col-sm-12 see-more-cat-btn text-center">
					<a [routerLink] ="['/category-list']">See More Categories</a>
				</div>
		   </div>
		</div>
	</div>
	


	
	<div class="earn-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Earn up to $5,000 per month<br/>
completing tasks</h3>
				</div>
			</div>
			<div class="row earn-point">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn1.png">
					</div>
					<div class="earn-content">
						<h4>Number Of Workers</h4>
						<p>Lorem ipsum dolor sit amet is  the dummy<br/>
text for describing
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn2.png">
					</div>
					<div class="earn-content">
						<h4>Number of workers</h4>
						<p>Lorem ipsum dolor sit amet is  the dummy<br/>
text for describing
</p>
					</div>
				</div>
			</div>
			<div class="row earn-point">
				<div class="col-sm-12">
					<div class="earn-img">
						<img src="assets/img/earn3.png">
					</div>
					<div class="earn-content">
						<h4>Number of workers</h4>
						<p>Lorem ipsum dolor sit amet is  the dummy<br/>
text for describing
</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
